<html lang="ch">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/PROCESS/css/bootstrap-select.min.css">
    <script src="/static/PROCESS/js/bootstrap-select.min.js"></script>
    <style>
        @media (min-width: 1024px){
            .modal-dialog{
                width: 80%;
            }
        }
        th,td{
            text-align: center;
        }
        li{
            cursor:pointer;
        }
        li:hover{
            background-color: wheat;
            cursor:pointer;
        }
        .footer{
            width: 100%;
            height: 30px;
            margin-top: 0;
            text-align: center;
            /* margin-bottom: 0; */
        }
    </style>
</head>
<body>
    <div class="panel panel-default panel-heading">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="javascript:0">数据使用申请</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    {% for var in category %}
                        <li {% if forloop.counter == 1 %}class="active"{% endif %} onclick="nav_active(this, '{{var}}')"><a href="javascript:0">{{var}}</a></li>
                    {% endfor %}
                </ul>
                <div class="text-right" style="padding-top: 10px">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" onclick="confirm_table()">已选择(<span id="choose_count">0</span>)</button>
                </div>
            </div>
        </nav>
    </div>
    <div class="panel panel-body panel-default">
        <iframe id="frame" src="{% url 'process_tabledetail'%}" width="100%" height="85%" style="border: 0px;"></iframe>
    </div>
    <div class="footer">
        <footer>
            <p class="bottom">中南民族大学</p>
        </footer>
    </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					申请数据确认
				</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped" id="table">
                    <thead>
                        <tr>
                            <th>目录</th>
                            <th>表名</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="panel panel-body panel-default">
                    <div class="col-md-6">
                        <label for="instruction"><h4 >申请说明</h4></label>
                        <div>
                            <textarea id="instruction" style=" resize: vertical;width: 100%;height: 100px"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="comment " ><h4 >备注</h4></label>
                        <div>
                            <textarea id="comment" style=" resize: vertical;width: 100%;height: 100px"></textarea>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="userSubmit()" id="submit_btn">
					提交申请
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

</body>
</html>
<script type="application/javascript">
    let category = [{% for var in category %}'{{var}}',{% endfor %}]
    $(document).ready(function(){
        localStorage.clear() //清除缓存
    })
    function nav_active(obj, category){
        $(".active").removeClass('active')
        obj.className = "active"
        $("#frame").attr("src", "{% url 'process_tabledetail' %}?category=" + category)
    }
    function confirm_table() {
            $("#table tbody").html("")
            $("#submit_btn").show()
            let flag = false
            category.forEach(function (val){ //获取各个目录的表
                let table = localStorage.getItem(val)
                if( table !== "" && table !== null){
                    JSON.parse(table).forEach(function (value) {
                        let tr = "<tr>"
                        tr += "<td>" + val + "</td><td>" + value.zh + "</td>"
                        $("#table tbody").append(tr)
                    })
                }
                if (table?JSON.parse(table).length !== 0:0)
                        flag = true
            })
            if (flag !== true)
                $("#submit_btn").hide()
    }
    function userSubmit() {
        let data = []
        category.forEach(function (val) {
            if (localStorage.getItem(val)?JSON.parse(localStorage.getItem(val)).length:0)
                data.push('{"category":"' + val + '", "value":' +  localStorage.getItem(val) + '}')
        })
        let instruction = $("#instruction").val()
        let comment = $("#comment").val()
        $.ajax({
            url: "{% url "process_apply" %}",
            type: "post",
            data: {"data" : '[' + data.toString() +']', "instruction": instruction, "comment": comment, "csrfmiddlewaretoken": "{{ csrf_token }}"},
            success: function (res) {
                alert("发起申请成功")
            },
            error: function () {
                console.log("网络错误")
            }
        })
    }
</script>
